.news-list{
    width: 100%;
    overflow: hidden;
    .news-item{
        &.type-1{
            .main{
                display: flex;
                flex-wrap: wrap;
            }
            h1{
                flex: 2;
                margin: 0;
            }
            .pic{
                flex: 1;
            }
        }
        padding: 10px;
        h1{
            font-size: 16px;
            font-weight: normal;
        }
        .pic{
            display: flex;
            .img{
                flex: 1;
                height: auto;
                margin-bottom: 10px;
                margin-right: 5px;
                &.last{
                    margin-right: 0;
                }
                img{
                    width: 100%;
                    opacity: 0;
                    transition: opacity .4s;
                    display: block;
                }
            }
        }
        .info{
            color: #999;
            border-bottom: 1px solid #ededed;
            padding: 8px 0;
        }
    }
}