.header{
    height: 40px;
    display: flex;
    background-color: #cf5f55;
    position: fixed;
    width: 100%;
    z-index: 999;
    .icon{
        width: 40px;
        height: 100%;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        a{
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-decoration: none;
            span{
                font-size: 18px;
            }
        }
    }
    .title{
        text-align: center;
        line-height: 40px;
        flex: 1;
        font-size: 20px;
        color: #fff;
    }
}